Flask==0.10.1
Flask-Cache==0.12
Flask-PyMongo==0.3.0
Flask-Script==0.6.2
Jinja2==2.7.1
MarkupSafe==0.18
pillow==2.3.1
Werkzeug==0.9.4
gunicorn==18.0
itsdangerous==0.23
pymongo==2.6.2
requests==1.2.3
wsgiref==0.1.2
