{% extends "base.html" %}
{% block content %}
    <div class="header">
        <h1>Git Shots</h1>
        <h3>Remember every commit</h3>
    </div>
    <div class="row-fluid">

    <div class="row-fluid">
        <div class="span6 projects">
            <h2>Projects</h2>
            <ul>
            {% for project in projects %}
                <li class="project">
                    <div class='cycler'>
                        <a href="/project/{{project}}">
                            <h2>{{project}}</h2>
                            <div class='images'>
                                {% for shot in projects[project] %}
                                    <span style="background-image: url('/img/{{shot._id}}.jpg');" title="{{shot.msg}}" class="thumbnail"></span>
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="span6 users">
            <h2>Users</h2>
            <ul>
            {% for user in users %}
                <li class="user">
                    <div class="cycler">
                        <a href="/user/{{user}}">
                            <h2>{{user}}</h2>
                            <div class='images'>
                                {% for shot in users[user] %}
                                    <span style="background-image: url('/img/{{shot._id}}.jpg');" title="{{shot.msg}}" class="thumbnail"></span>
                                {% endfor %}
                            </div>
                        </a>
                    </div>

                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
