{% extends "base.html" %}
{% block content %}
    <h1>Git Shots</h1>
    <div class="row-fluid">
    <h3>What the hell is this?</h3>
    <p>You install this: <a href="/post-commit.py">post-commit.py</a> with a command like this:
    <code>ln -sf post-commit.py /usr/local/share/git-core/templates/hooks/post-commit</code>
    you'll also want to <code>chmod +x</code> that stuff, <code>git init</code>, and maybe change some files around... I am not going to tell you how to do this.</p>

    <div class="row-fluid">
        <div class="span6">
            <h2>Projects</h2>
            <ul>
            {% for project in projects %}
                <li><a href="/project/{{project}}">{{project}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <h2>Users</h2>
            <ul>
            {% for user in users %}
                <li><a href="/user/{{user}}">{{user}}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
