{% extends "base.html" %}
{% block title %}User View{% endblock %}
{% block content %}
    {% for project, shots in gitshots.iteritems() %}
        {% if shots|length != 0 %}
            <h1>{{project}}</h1>
            <section class="photos">
                {% for shot in shots %}
                    <a href="/gitshot/{{shot._id}}.html">
                        <img src="/gitshot/{{shot._id}}.jpg" title="{{shot.msg}}">
                    </a>
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
