{% extends "base.html" %}
{% block title %}Latest View{% endblock %}
{% block content %}
    {% for shots in gitshots.iteritems() %}
        {% if shots|length != 0 %}
          <h2><a href="/">/</a> - <a href="/{{shots[1][0].user}}">{{shots[1][0].user}}</a> - <a href="/project/{{shots[1][0].project}}">{{shots[1][0].project}}</a></h2>
            <section class="photos">
                    <a href="/gs/{{shots[0]}}">
                        <img width="300" height="168" src="/gs/{{shots[0]}}.jpg" title="{{gitshots[shots[0]].msg}}">
                    </a>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
