{% extends "base.html" %}
{% block title %}User View{% endblock %}
{% block content %}
    {% for project, shots in gitshots.iteritems() %}
        {% if shots|length != 0 %}
            <h1><a href="/gs/{{project}}">{{project}}</a></h1>
            <section class="photos">
                {% for shot in shots %}
                    <a href="/{{shot._id}}">
                        <img width="300" height="168" src="/{{shot._id}}.jpg" title="{{shot.msg}}">
                    </a>
                {% endfor %}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
